#users-chart {
  background: linear-gradient(
    150deg,
    rgba(#060c29, 1) 0%,
    rgba(#040c30, 0.5) 100%
  );

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px theme("colors.bg_gray");
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: theme("colors.pri_blue");
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: theme("colors.pri_blue");
  }
}
