<div class="h-full relative text-white main-container" #container>
  <div
    class="absolute bottom-[20px] w-[40px] h-[40px] bg-pri_blue rounded-full z-50 flex items-center justify-center cursor-pointer transition-all duration-300"
    id="sidenav-toggle"
    [ngClass]="{ 'left-[10px]': !isMenuOpened, 'left-[240px]': isMenuOpened }"
    matTooltip="{{ isMenuOpened ? 'Close side menu' : 'Open side menu' }}"
    (click)="onToggleMenu()"
  >
    @if (isMenuOpened) {
      <i class="fa fa-angle-double-left text-2xl"></i>
    } @else {
      <i class="fa fa-angle-double-right text-2xl"></i>
    }
  </div>
  <div
    class="absolute top-0 left-0 bg-[url('assets/images/bg.png')] bg-no-repeat bg-cover object-contain h-full w-full z-10 blur-[100px]"
  >
    <div
      class="absolute w-full h-full z-20 left-0 right-0 bg-[rgba(0,0,0,0.3)]"
    ></div>
  </div>

  <div class="relative h-full w-full z-30 backdrop-opacity-95">
    <mat-drawer-container class="h-full w-screen drawer-container-main">
      <mat-drawer
        #drawer
        class="sidenav h-full flex justify-center items-center w-[464px] overflow-hidden"
        mode="side"
        [opened]="isMenuOpenedSig()"
      >
        <app-sidenav></app-sidenav>
      </mat-drawer>

      <div class="h-full w-full relative">
        <app-main-content></app-main-content>
        <app-side-panel class="absolute right-[5px] top-0"></app-side-panel>
      </div>
      <!--      <div id="mobile-sidenav">-->
      <!--        <app-sidenav></app-sidenav>-->
      <!--      </div>-->
    </mat-drawer-container>
  </div>
</div>
