.main-container {
  background: linear-gradient(
    142deg,
    rgba(15, 18, 59, 1) 0%,
    rgba(9, 13, 46, 1) 53%,
    rgba(2, 5, 21, 1) 100%
  );
}
.drawer-container-main {
  background-color: transparent !important;
}

.sidenav {
  background-color: transparent;
}

#mobile-sidenav {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 550px) {
  #sidenav-toggle {
    display: none;
  }
  //.sidenav {
  //  display: none;
  //}
}
