.drawer-container-main {
  background-color: transparent !important;
}

.sidenav {
  background-color: transparent;
}

.test {
  background: linear-gradient(
    142deg,
    rgba(15, 18, 59, 0.9) 0%,
    rgba(9, 13, 46, 0.9) 53%,
    rgba(2, 5, 21, 0.9) 100%
  );
  backdrop-filter: blur(60px);
}
