<div class="h-full max-h-[500px] min-h-[500px] overflow-hidden">
  <app-generic-table>
    <ng-template #heading>
      <div class="text-lg">Projects</div>
      <div
        class="w-5 h-5 cursor-pointer flex items-center justify-center"
        [matMenuTriggerFor]="menu"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 128 512"
          class="w-1 fill-type_gray"
        >
          <path
            d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"
          />
        </svg>
      </div>
    </ng-template>
    <div class="flex items-center mt-1" sub_heading>
      <div
        class="flex items-center justify-center bg-pri_green rounded-full mr-2 w-[12px] h-[12px]"
      >
        <i class="fa fa-check text-primary font-light text-xs"></i>
      </div>
      <div class="text-sm text-type_gray">30 done this month</div>
    </div>
    <div class="mt-2 overflow-auto max-h-[370px]" main_content>
      <table
        mat-table
        [dataSource]="projects"
        matSort
        class="bg-transparent my-table h-full overflow-y-scroll"
      >
        <ng-container matColumnDef="companies">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>COMPANIES</th>
          <td mat-cell *matCellDef="let row">
            <div class="flex items-center space-x-4">
              <span
                ><img [src]="row.logo" class="min-w-[20px] min-h-[20px]"
              /></span>
              <span>{{ row.company }}</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="members">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>MEMBERS</th>
          <td mat-cell *matCellDef="let row">
            <div class="flex items-center">
              @for (img of row.members; track img; let i = $index) {
                <img
                  [src]="img"
                  alt=""
                  class="rounded-full w-[20px] h-[20px] min-w-[20px] min-h-[20px]"
                  [ngClass]="{ '-ml-[8px]': i > 0 }"
                />
              }
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="budget">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>BUDGET</th>
          <td mat-cell *matCellDef="let row">
            {{ row.budget | currency: "$" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="completion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>COMPLETION</th>
          <td mat-cell *matCellDef="let row">
            <div class="w-[80%]">
              <div>{{ row.completion }}%</div>
              <div
                class="w-full bg-slight_dark h-[3px] rounded-[2px] mt-[2px] relative"
              >
                <div
                  class="absolute rounded-[2px] left-0 top-0 h-full"
                  [style.width.%]="row.completion"
                  [style.background-color]="layoutService.primaryColor()"
                ></div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </app-generic-table>
  <mat-menu #menu="matMenu" class="my-menu">
    <button mat-menu-item class="text-white">Do something...</button>
  </mat-menu>
</div>
