.infos {
  display: grid;
  //grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  & img {
    min-width: 24px;
  }
}

.info {
  background: linear-gradient(
    21deg,
    rgba(6, 11, 38, 0.8) 0%,
    rgba(26, 31, 55, 0.5) 100%
  );
  backdrop-filter: blur(20px);
}
