.sidenav {
  background: linear-gradient(
    95deg,
    rgba(6, 11, 38, 0.94) 60%,
    rgba(26, 31, 55, 0) 100%
  );
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.dashboard-name {
  background: linear-gradient(58deg, #ffffff 50%, rgba(117, 122, 140, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  & li {
    height: 54px;

    & span {
      background-color: theme("colors.bg_gray");
    }

    & svg {
      & path {
        //fill: #0075ff;
      }
    }

    &.active-route {
      background-color: theme("colors.bg_gray");
      & span {
        background-color: theme("colors.pri_blue");
      }
      & svg {
        & path {
          fill: #fff !important;
        }
      }
    }
  }
}

.doc-btn {
  background: rgb(6, 11, 40);
  background: linear-gradient(
    238deg,
    rgba(6, 11, 40, 0.74) 0%,
    rgba(10, 14, 35, 0.71) 100%
  );
}
