<div class="flex w-full items-start h-screen overflow-hidden relative">
  <div
    class="absolute top-4 left-[49%] -translate-x-1/2 rounded-20px px-4 py-5 header z-30 w-[60%] flex items-center justify-between flex-wrap gap-3 max-[410px]:justify-center max-[410px]:flex-col max-[850px]:w-[90%]"
  >
    <div
      class="tracking-wide dashboard-name font-medium text-sm text-center cursor-pointer"
      [routerLink]="['/', 'vision', 'dashboard']"
    >
      VISION UI FREE
    </div>

    <div class="flex items-center space-x-5 text-white font-bold text-[10px]">
      <div
        class="flex items-center space-x-1 cursor-pointer"
        [routerLink]="['/', 'vision', 'dashboard']"
      >
        <img src="assets/images/auth/dash.png" alt="" />
        <div>Dashboard</div>
      </div>
      <div
        class="flex items-center space-x-1 cursor-pointer"
        [routerLink]="['/', 'vision', 'profile']"
      >
        <img src="assets/images/auth/profile.png" alt="" />
        <div>Profile</div>
      </div>
      <div
        class="flex items-center space-x-1 cursor-pointer"
        [routerLink]="['/', 'vision', 'sign-in']"
      >
        <img src="assets/images/auth/sign-in.png" alt="" />
        <div>Sign in</div>
      </div>
    </div>
  </div>

  <div
    class="sticky h-screen w-1/2 overflow-hidden bg-[url('assets/images/auth/auth-bg.png')] bg-no-repeat bg-cover object-contain flex items-center justify-center flex-col text-white px-3 text-center max-[750px]:hidden"
  >
    <div class="text-[20px] font-normal">INSPIRED BY THE FUTURE</div>
    <div class="text-4xl font-bold main-text">THE VISION UI DASHBOARD</div>
  </div>

  <div
    class="flex items-center w-1/2 overflow-y-auto h-full py-[60px] max-[378px]:pt-[230px] max-[750px]:w-full main text-white pl-10 max-[850px]:justify-center max-[1080px]:pl-4 max-[1080px]:pr-4"
    style="padding-top: 20rem"
  >
    <div
      class="space-y-5 flex flex-col w-[450px] justify-center max-[1080px]:w-full"
    >
      <div class="space-y-1 text-center">
        <h1 class="text-3xl font-bold">Welcome!</h1>
        <div class="sub_text">
          Use these awesome forms to login or create new account in your project
          for free.
        </div>
      </div>

      <div
        class="gradiant-border flex flex-col space-y-3 rounded-[30px] px-7 py-8 w-full"
      >
        <div
          class="flex flex-col justify-center items-center self-center space-y-4"
        >
          <h2 class="section-head">Register with</h2>

          <div class="flex items-center space-x-3">
            <div
              class="w-[75px] h-[75px] rounded-[20px] gradiant-border flex items-center justify-center max-[378px]:w-[50px] max-[378px]:h-[50px]"
            >
              <img src="assets/images/auth/facebook.png" alt="" />
            </div>
            <div
              class="w-[75px] h-[75px] rounded-[20px] gradiant-border flex items-center justify-center max-[378px]:w-[50px] max-[378px]:h-[50px]"
            >
              <img src="assets/images/auth/apple.png" alt="" />
            </div>
            <div
              class="w-[75px] h-[75px] rounded-[20px] gradiant-border flex items-center justify-center max-[378px]:w-[50px] max-[378px]:h-[50px]"
            >
              <img src="assets/images/auth/google.png" alt="" />
            </div>
          </div>

          <div class="text-lg text-type_gray">or</div>
        </div>

        <form
          class="space-y-4 block"
          [formGroup]="form"
          (ngSubmit)="onSignIn()"
        >
          <div>
            <label for="name" class="text-sm block mb-1 pl-1">Name</label>
            <input
              id="name"
              placeholder="Your full name"
              class="input-el text-type_gray"
              formControlName="name"
            />
          </div>
          <div>
            <label for="email" class="text-sm block mb-1 pl-1">Email</label>
            <input
              id="email"
              placeholder="Your email address"
              class="input-el text-type_gray"
              formControlName="email"
            />
          </div>

          <div>
            <label for="password" class="text-sm block mb-1 pl-1"
              >Password</label
            >
            <input
              id="password"
              placeholder="Your password"
              class="input-el text-type_gray"
              formControlName="password"
            />
          </div>

          <div class="flex items-center space-x-3">
            <app-toggle-btn [toggle]="true" />
            <div class="text-xs">Remember me</div>
          </div>

          <div class="pt-5 w-full">
            <button
              type="submit"
              class="w-full h-[45px] rounded-xl flex items-center justify-center outline-0 btn"
              [style.background-color]="layoutService.primaryColor()"
            >
              SIGN IN
            </button>
          </div>
        </form>

        <div class="sub_text text-center mt-4 no-acc">
          Don't have an account?
          <a
            class="text-white font-bold cursor-pointer"
            [routerLink]="['/', 'vision', 'sign-in']"
            >Sign in</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
