<div id="table" class="rounded-[20px] p-4">
  <div class="flex justify-between items-center">
    <ng-container *ngTemplateOutlet="headingTemplate"> </ng-container>
  </div>
  <ng-content select="[sub_heading]"></ng-content>

  <ng-container *ngTemplateOutlet="headTemplate"></ng-container>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Mia"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="products" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="companies">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="members">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>MEMBERS</th>
        <td mat-cell *matCellDef="let row">{{ row.progress }}%</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="budget">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>BUDGET</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="completion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>COMPLETION</th>
        <td mat-cell *matCellDef="let row">{{ row.fruit }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>
</div>
