<div class="authors rounded-[20px] p-4 min-h-[500px] w-full">
  <h3 class="text-lg font-bold">Authors Table</h3>

  <div class="mt-2 overflow-auto max-h-[370px]">
    <table
      mat-table
      [dataSource]="authors"
      matSort
      class="bg-transparent my-table h-full overflow-y-scroll"
    >
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>AUTHOR</th>
        <td mat-cell *matCellDef="let row">
          <div class="flex items-center space-x-3">
            <span>
              <img
                [src]="row.img"
                class="min-w-[40px] min-h-[40px] w-[40px] h-[40px] object-cover"
              />
            </span>
            <span>
              <div class="text-sm">
                {{ row.name }}
              </div>
              <div class="text-type_gray">{{ row.email }}</div>
            </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="function">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>FUNCTION</th>
        <td mat-cell *matCellDef="let row" class="text-sm capitalize">
          <div>{{ row.function }}</div>
          <div class="text-type_gray">{{ row.role }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
        <td mat-cell *matCellDef="let row" class="text-sm capitalize">
          {{ row.status }}
        </td>
      </ng-container>

      <ng-container matColumnDef="employed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>EMPLOYED</th>
        <td
          mat-cell
          *matCellDef="let row"
          class="text-sm capitalize font-normal"
        >
          {{ row.employed }}
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td
          mat-cell
          *matCellDef="let row"
          class="text-sm text-type_gray cursor-pointer"
        >
          Edit
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
