<div class="flex items-center justify-between">
  <div class="">
    <div class="text-xs mb-1">
      <span class="text-type_gray">Pages</span> <span class="mx-1">/</span>
      <span> Dashboard</span>
    </div>
    <div>Dashboard</div>
  </div>

  <div class="flex items-center space-x-4">
    <div class="relative h-[40px]">
      <img
        src="assets/images/icons/search.png"
        alt=""
        class="absolute left-[10px] bottom-1/2 transform translate-y-1/2"
      />
      <input
        type="text"
        class="w-full h-full bg-[#0F1535] border rounded-2xl border-[#2D3748] focus:outline-0 px-9 text-type_gray text-xs"
        placeholder="Type here..."
      />
    </div>

    <div class="flex items-center cursor-pointer">
      <img src="assets/images/icons/user.png" />
      <div class="text-xs text-type_gray ml-1">Sign in</div>
    </div>

    <img src="assets/images/icons/settings.png" class="cursor-pointer" />

    <img src="assets/images/icons/notification.png" class="cursor-pointer" />
  </div>
</div>
