#chart {
  background: linear-gradient(
    150deg,
    rgba(#060b28, 0.74) 0%,
    rgba(#0a0e23, 0.71) 100%
  );
}

#sales-chart-container {
  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px theme("colors.bg_gray");
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: theme("colors.pri_blue");
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: theme("colors.pri_blue");
  }
}
