<div id="active-users" class="rounded-[20px] p-4">
  <div>
    <div>
      <div class="text-lg">Active users</div>
      <div class="text-sm">
        <span class="text-pri_green"
          >(+23) <span class="text-type_gray">than last week</span></span
        >
      </div>
    </div>

    <div class="flex items-start mt-4">
      <div>
        <div class="flex items-center">
          <div
            class="rounded-[6px] bg-pri_blue mr-3 w-[25px] h-[25px] flex items-center justify-center"
          >
            <img
              src="assets/images/icons/wallet.png"
              alt=""
              width="12"
              height="12"
            />
          </div>
          <div class="sub_text">Users</div>
        </div>
      </div>
    </div>
  </div>
</div>
