<div class="payment-method p-4 rounded-[20px] space-y-4">
  <div class="flex items-center justify-between">
    <div class="text-lg font-bold">Payment Method</div>
    <button
      class="bg-pri_blue outline-0 border-0 rounded-[12px] py-2 px-4 text-[10px] font-bold"
    >
      ADD A NEW CARD
    </button>
  </div>

  <div class="flex items-center justify-between w-full gap-3">
    <div class="rounded-[20px] overflow-hidden w-full">
      <div class="flex items-center justify-between flex-1 p-4 card">
        <div class="flex items-center space-x-3">
          <img src="assets/images/billing/Mastercard-Icon.svg" alt="" />
          <div class="text-sm">7812 2139 0823 XXXX</div>
        </div>
        <div class="cursor-pointer">
          <svg
            width="13"
            height="13"
            viewBox="0 0 13 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_580_3209)">
              <path
                d="M2 9.23V10.75C2 10.89 2.11 11 2.25 11H3.77C3.835 11 3.9 10.975 3.945 10.925L9.405 5.47L7.53 3.595L2.075 9.05C2.025 9.1 2 9.16 2 9.23ZM10.855 4.02C11.05 3.825 11.05 3.51 10.855 3.315L9.685 2.145C9.49 1.95 9.175 1.95 8.98 2.145L8.065 3.06L9.94 4.935L10.855 4.02V4.02Z"
                fill="white"
              />
            </g>
            <defs>
              <clipPath id="clip0_580_3209">
                <rect
                  width="12"
                  height="12"
                  fill="white"
                  transform="translate(0.5 0.5)"
                />
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
    </div>

    <div class="rounded-[20px] overflow-hidden w-full">
      <div class="flex items-center justify-between flex-1 p-4 card">
        <div class="flex items-center space-x-3">
          <img src="assets/images/billing/visa.png" alt="" />
          <div class="text-sm">7812 2139 0823 XXXX</div>
        </div>
        <div class="cursor-pointer">
          <svg
            width="13"
            height="13"
            viewBox="0 0 13 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_580_3209)">
              <path
                d="M2 9.23V10.75C2 10.89 2.11 11 2.25 11H3.77C3.835 11 3.9 10.975 3.945 10.925L9.405 5.47L7.53 3.595L2.075 9.05C2.025 9.1 2 9.16 2 9.23ZM10.855 4.02C11.05 3.825 11.05 3.51 10.855 3.315L9.685 2.145C9.49 1.95 9.175 1.95 8.98 2.145L8.065 3.06L9.94 4.935L10.855 4.02V4.02Z"
                fill="white"
              />
            </g>
            <defs>
              <clipPath id="clip0_580_3209">
                <rect
                  width="12"
                  height="12"
                  fill="white"
                  transform="translate(0.5 0.5)"
                />
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
