.payment-method {
  background: linear-gradient(
    130deg,
    rgba(#060b28, 0.94) 0%,
    rgba(#0a0e23, 0.49) 100%
  );
}

.card {
  border-image: linear-gradient(130deg, #fff 0%, rgba(255, 255, 255, 0) 100%) 1;
  border-width: 2px;
  border-style: solid;
}
