<div class="flex items-start h-screen overflow-hidden">
  <div
    class="sticky h-screen w-1/2 overflow-hidden bg-[url('assets/images/auth/auth-bg.png')] bg-no-repeat bg-cover object-contain flex items-center justify-center flex-col text-white px-3 text-center max-[750px]:hidden"
  >
    <div class="text-[20px] font-normal">INSPIRED BY THE FUTURE</div>
    <div class="text-4xl font-bold main-text">THE VISION UI DASHBOARD</div>
  </div>

  <div
    class="flex items-center w-1/2 overflow-y-auto h-full py-[60px] max-[750px]:w-full main text-white pl-10 max-[850px]:justify-center max-[850px]:pl-4 max-[850px]:pr-4"
  >
    <div class="space-y-5 w-full">
      <div class="space-y-1">
        <h1 class="text-3xl font-bold">Nice to see you!</h1>
        <div class="sub_text">Enter your email and password to sign in</div>
      </div>

      <div>
        <form class="space-y-4 block">
          <div>
            <label for="email" class="text-sm block mb-1 pl-1">Email</label>
            <input
              id="email"
              placeholder="Your email address"
              class="input-el text-type_gray"
            />
          </div>

          <div>
            <label for="password" class="text-sm block mb-1 pl-1"
              >Password</label
            >
            <input
              id="password"
              placeholder="Your password"
              class="input-el text-type_gray"
            />
          </div>

          <div class="flex items-center space-x-3">
            <app-toggle-btn [toggle]="true" />
            <div class="text-xs">Remember me</div>
          </div>

          <div class="pt-5">
            <button
              type="submit"
              class="w-full h-[45px] rounded-xl flex items-center justify-center outline-0 btn"
              [style.background-color]="layoutService.primaryColor()"
            >
              SIGN IN
            </button>
          </div>
        </form>

        <div class="sub_text text-center mt-4 no-acc">
          Don't have an account?
          <a class="text-white font-bold cursor-pointer">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
