<div class="flex flex-col items-center gap-4 w-full">
  <div
    class="flex gap-4 w-full"
    [ngClass]="{ 'flex-col': containerWidth() < 830 }"
  >
    <app-cards
      class="flex-1 w-3/5"
      [ngClass]="{ 'min-w-full': containerWidth() < 830 }"
    />
    <app-invoices
      class="w-2/5"
      [ngClass]="{ 'min-w-full': containerWidth() < 830 }"
    />
  </div>

  <div
    class="flex gap-4 w-full"
    [ngClass]="{ 'flex-col': containerWidth() < 830 }"
  >
    <app-billing-info
      class="flex-1 w-3/5"
      [ngClass]="{ 'min-w-full': containerWidth() < 830 }"
    />
    <app-transactions
      class="w-2/5"
      [ngClass]="{ 'min-w-full': containerWidth() < 830 }"
    />
  </div>
</div>
